<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <strong>HVManager</strong>
    </a>
</nav>

<div class="container">

    <div *ngFor="let host of data" class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">
            <h5>{{host.name}}</h5>
        </div>
        <div class="card-body bg-dark">
            <div class="card-title">
                <strong>O.S.:</strong> {{host.os.name}}
            </div>

            <div *ngIf="host.cpu != null " class="card-title">
                <strong>CPU:</strong> {{host.cpu}}
            </div>

            <div *ngIf="host.cpu == null " class="card-title">
                <strong>Sockets:</strong> {{host.sockets}}  
                <strong>Cores:</strong> {{host.coresPerSocket}}
            </div>

            <div class="card-title">
                <strong>Memory:</strong> {{host.memory}}GB
            </div>
            <div class="card-title">
                <strong>Product:</strong> {{host.product.name}}
            </div>
        </div>
    </div>
</div>
