################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HVManager.DataAccessAPI/Migrations
/HVManager.WebUI/obj/Debug
/HVManager.WebUI/bin
